/* BASE: Styles Fonts, Element, Scroll bar with their respective sizes */

@font-face {
    font-family: 'Nato Sans';
    src: url(/assets/font/nato-sans-regular.ttf) format(truetype);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg-base);
    font-weight: 400;
    color: var(--color-font);
    user-select: none;
    line-height: 1.3;
}

body,
button,
a {
    font-family: 'Nato Sans', 'Gotham Black', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Basic Elements */
h1 {
    font-size: clamp(0.95rem, 1.5rem, 1.5vmax);
}

h2 {
    font-size: clamp(1rem, 1.5rem, 1.5vmax);
}

h3 {
    font-size: clamp(0.8rem, 1rem, 1.2vmax);
}

p {
    font-size: clamp(0.7rem, 0.95rem, 1vmax);
}

img {
    pointer-events: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(144, 144, 144);
    transition: color 0.2s ease;
}

a:hover {
    color: var(--color-font);
}

/* Buttons */
button {
    width: 100%;
    max-width: max-content;
    padding: 0.75rem;
    background-color: rgba(255, 255, 255, 0.75);
    font-weight: bolder;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: clamp(0.7rem, 1rem, 1vmax);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.85);
    transform: scale(1.03);
    transition: all 50ms ease;
}


/* Dark Scroll Bar for Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #424242;
    border-radius: 6px;
    border: 2px solid #1f1f1f;
}

::-webkit-scrollbar-thumb:hover {
    background: #535353;
}

::-webkit-scrollbar-thumb:active {
    background: #686868;
}

::-webkit-scrollbar-corner {
    background: #1f1f1f;
}